*{
  box-sizing: border-box;
}
.Portfolio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}
.post{
  border-radius: 5px;
  height: 280px;
  width: 400px;
  margin: 10px;
  border: 1px solid green;
  padding: 5px;
  background: lightcyan;
}
.post-image{
  border: 1px solid red;
  height: 220px;
  width: 100%;
  border-radius: 5px;
}

.post div{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.post div p{
  margin-top: 6px;
  font-family: "Bree serif";
}
.post div button{
  background: green;
  color: white;
  font-family: "Bree serif";
  border: 0px;
  padding: 5px;
  border-radius: 5px;
}
.post div button:hover{
  border-radius: 5px;
  border: 0px;
  outline: none !important;
}

@media (max-width: 785px){
  .Portfolio{
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-top: 100px;
  }
}